#cluster-map {
    width: 100%;
    height: 500px;
}

#map {
    width: 100%;
    height: 300px;
}

.card-img-top{
    background-color: $indigo-900;
}
.howitwork-card{
  width: 18rem;
  background-color: #ffc107;
}
.success-card{
  width: 26rem;
  background-color: #ffc107;
}
.qrcard{
    width: 40rem;
}
.updatebutton{
  padding: 20px;
}
.indeximg{
  height:250px;
  width:400px;
}
