<% layout('layouts/boilerplate')%>
<div class="container pt-5">
  <div class="row">
    <div class="col">

      <div class="card howitwork-card shadow">
        <img src="https://cdn-icons.flaticon.com/png/512/2766/premium/2766219.png?token=exp=1658518584~hmac=2accfcbc04539569e39f55a4720de5e6" class="card-img-top" style="padding:15% 15%;" alt="...">
        <div class="card-body" style="background-color: white">
          <p class="card-text">Generate a QR code for your pet and save the information in our database.</p>
          <div class="card-body col-12 mx-auto">
          <% if(!currentUser) { %>

<a href="/login" class="btn btn-warning col-12">Get a QR code now</a>
<% } else { %>
  <a href="/pets/new" class="btn btn-warning col-12">Get a QR code now</a>
    <% } %>
    </div>
        </div>
      </div>

    </div>
    <div class="col">

      <div class="card howitwork-card shadow">
        <img src="https://cdn-icons-png.flaticon.com/512/4187/4187294.png" class="card-img-top" style="padding:15% 15%;"  alt="...">
        <div class="card-body" style="background-color: white">
          <p class="card-text">When your pet get lost, anyone who find your pet can scan the QR code and contact you.</p>
          <div class="card-body col-12 mx-auto">

  <a href="/pets" class="btn btn-warning col-12">Found a lost pet</a>

    </div>
        </div>
      </div>

    </div>
    <div class="col">

      <div class="card howitwork-card shadow">
        <img src="https://cdn-icons-png.flaticon.com/512/732/732223.png" class="card-img-top" style="padding:15% 15%;" alt="...">
        <div class="card-body" style="background-color: white">
          <p class="card-text">Our notification system will notify the local community about your lost pet.</p>
          <div class="card-body col-12 mx-auto">
          <% if(!currentUser) { %>

<a href="/login" class="btn btn-warning col-12">Join our community now</a>
<% } else { %>
  <a href="/pets/join" class="btn btn-warning col-12">Join our community now</a>
    <% } %>
    </div>
        </div>
      </div>

    </div>
  </div>
</div>
